/* ====================================   Header's style   ==================================== */

#site-header {
    @include clearfix();
    margin-bottom: 32px;
    z-index: 10;
    position: relative;
}

.site-header {
    background: white;
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
    .logo {
        float: left;
        height: 40px;
        width: auto;
        img {
            vertical-align: baseline;
        }
    }
    .search-wrap {
        width: 796px;
        margin: 4px 16px 0 266px;
        float: left;
    }
    &__menu {
        float: right;
        position: relative;
        margin-top: 4px;
        .btn {
            line-height: 30px;
            height: 32px;
            padding: 0 8px;
            .icon-menu {
                width: 14px;
                height: 14px;
                fill: #333;
                vertical-align: middle;
                @include transition(all, 0.2, linear);
                position: relative;
                top: -1px;
                margin-right: 4px;
            }
            &.is-active,
            &:hover {
                background-color: #f0f0f0;
                color: #333;
                border-color: #f0f0f0;
                .icon-menu {
                    fill: #333;
                }
            }
        }
    }
    .menu__listing {
        display: none;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.14);
        padding: 4px 0;
        width: 880px;
        position: absolute;
        top: 100%;
        right: 0;
        margin-top: 16px;
        font-size: 0;
        @include clearfix;
        li {
            font-size: 14px;
            line-height: 1.4;
            display: inline-block;
            width: 33.33%;
            vertical-align: top;
            a {
                padding: 12px 16px;
                ;
                display: block;
                transition: padding 0.2s linear;
                &:hover {
                    padding-left: 24px;
                    font-weight: bold;
                }
            }
            &+li {
                border-top: 1px solid #e6e6e6;
            }
            &:nth-child(2),
            &:nth-child(3) {
                border-top: none;
            }
        }
        &::before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-bottom: 12px solid #e9ebee;
            position: absolute;
            bottom: 100%;
            right: 8px;
        }
        &::after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fff;
            position: absolute;
            bottom: 100%;
            right: 10px;
        }
    }
}

.navigator {
    @include clearfix();
    font-size: 15px;
    line-height: 35px;
    font-family: $font-family-special;
    margin-left: -11px;
    margin-right: -11px;
    >li {
        float: left;
        position: relative;
        margin-right: 1px;
        a {
            display: block;
            padding: 0 12px;
            transition: background 0.2s linear, color 0.2s linear;
            color: white;
            &:hover {
                background-color: #eee;
                color: $brand-primary;
            }
            img {
                position: relative;
                top: -1px;
            }
        }
        &:hover {
            .navigator__child {
                left: auto;
            }
            .navigator__search {
                right: 0;
            }
        }
        &.is-active {
            a {
                background-color: #eee;
                color: $brand-primary;
            }
        }
        &.is-featured {
            >a {
                line-height: 29px;
                margin-top: 3px;
                margin-bottom: 3px;
                border-radius: 2px;
                background: #eee;
                color: $brand-primary;
                &:hover {
                    line-height: 35px;
                    border-radius: 0;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
    &__child {
        position: absolute;
        top: 100%;
        left: -999em;
        width: 200px;
        z-index: 2;
        @include has-shadow();
        >li {
            a {
                background: #eee;
                color: $brand-primary !important;
                &:hover {
                    background: #ddd;
                }
            }
        }
    }
}

// video page Header